@model List<IntegrationHub.Web.Models.ProductViewModel>

@{
    ViewData["Title"] = "Ürün Listesi";
}

<a asp-action="Create" class="btn btn-success mb-3">Yeni Ürün Ekle</a>

<h2>Ürünler</h2>

<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Ürün Adı</th>
            <th>Kategori</th>
            <th>Barkod</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>

                <td>
                    <span class="badge bg-info text-dark">
                        @(item.Category?.Name ?? "-")
                    </span>
                </td>

                <td>@item.Barcode</td>
                <td>@item.SalePrice ₺</td>
                <td>@item.StockQuantity</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Düzenle</a>

                    <a asp-action="Delete" asp-route-id="@item.Id"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Silmek istediğinize emin misiniz?');">
                        Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>